
.link{
	text-align: center;
	color: black;
	font-family: Silkscreen;
}
.link:hover
{
	color: aqua;
}
.title{
	color: white;
	text-align: center;
	font-family: Silkscreen;
}

.img_title
{
	display:block;
	width:25%;
	margin-left:auto;
	margin-right:auto;
}
.button_tech{
	padding; 10px 2px;
	font-size: 19px;
	font-family: Silkscreen;
	color: black;
	max-width : auto;
	height : auto;
	background-color: gray;
	border-radius: 1px;
}
.button_tech:hover
{
	color: aqua;
}
html{
	background: linear-gradient(black,#485b5b);
}		
canvas,body{
	border-radius: 15px;
}
ul{
	list-style:none;
	padding-left: 0px;
	text-align: center;
}
li{
	display: inline;
	border-radius: 5px;
}	
aside
{
	content-align: center;
}
